<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>room</title>
</head>
<body>
<div class="container">
    <h5>log</h5>
    <textarea id="log" cols="100" rows="20"></textarea><br>
    <h5>Enter chat</h5>
    <input type="text" id="mssg" size="100" placeholder="mess">
    <input type="button" id="submit" value="Send">
</div>

<script>
	let roomName = {{room_name}};
	let socket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`)
    socket.onmessage = function (e) {
		let data = JSON.parse(e.data);
	    console.log(data)
		document.querySelector('#log').value += (data.message + "\n");
    };
	socket.onclose = function (e) {
		console.error("Closed")
    };
	document.querySelector('#submit').onclick = function (e) {
		let messageDom = document.querySelector('#mssg');
		let message = messageDom.value;
		socket.send(JSON.stringify({
            'message': message
        }));
		message = '';
    }
</script>
</body>
</html>